<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Turn-Based RPG in Phaser 3</title>
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,user-scalable=no"
    />
    <script src="//cdn.jsdelivr.net/npm/phaser@3.54.0/dist/phaser.js"></script>
    <script src= "https://cdn.jsdelivr.net/npm/phaser-matter-collision-plugin"></script>
  <body>
    <div id="game"></div>
    <script type="module" src="scripts/games.js"></script>
  </body>
</html>
