<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>PIXEL SOULS</title>
    <meta
    name="viewport"
    content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0"
    />
<<<<<<< HEAD
    <script src="/scripts/phaser.min.js" charset="utf-8"></script>
  </head>
  <body>
    <div id="phaser-game"></div>

    <!-- <script src="/classes/Player.js" charset="utf-8"></script>
    <script src="/classes/UiButton.js" charset="utf-8"></script>
    <script src="/scripts/BootScene.js" charset="utf-8"></script>
    <script src="/scripts/TitleScene.js" charset="utf-8"></script>
    <script src="/scripts/GameScene.js" charset="utf-8"></script>
    <script src="/scripts/UiScene.js" charset="utf-8"></script>
    <script src="/scripts/game.js" charset="utf-8"></script> -->
=======
    <script src="//cdn.jsdelivr.net/npm/phaser@3.54.0/dist/phaser.js"></script>
    <script src= "https://cdn.jsdelivr.net/npm/phaser-matter-collision-plugin"></script>
  <body>
    <div id="game"></div>
    <script type="module" src="scripts/games.js"></script>
>>>>>>> 328bec9a592b8d30aeb1b676bfaae5a93e7b665f
  </body>
</html>
